.aboutSection {
    margin: auto;
    width: 78%;
}

.aboutInfo {
    border-radius: 0.5em;
    display: grid;
    grid-template-areas: 'image text';
    margin-left: 0.5em;
    padding: 1em;
}

@media only screen and (max-width: 800px) {
    .aboutInfo {
        grid-template-areas: 'image'
                             'text';
    }

    .aboutImage {
        margin: auto;
        width: 50%; 
    }
}

.aboutImage {
    object-fit: cover;
    width: 50%;
    border-radius: 0.5em;
    grid-area: 'image';
}

.aboutText {
    grid-area: 'text';
    margin: auto;
    max-width: 50%;
}