.aboutSection {
    margin: auto;
    width: 78%;
}

.aboutInfo {
    background-color: #ffcccb;
    border-radius: 0.5em;
    display: grid;
    grid-template-areas: 'image text';
    margin-left: 0.5em;
    padding: 1em;
}

.aboutImage {
    border-radius: 0.25em;
    grid-area: 'image';
}

.aboutText {
    grid-area: 'text';
    margin: auto;
    max-width: 50%;
}