.aboutWrapper {
    margin-top: 15px;
}

.aboutInfo {
    border-radius: 0.5em;
    display: grid;
    grid-template-areas: 'image'
    'text';
}

.aboutImage {
    border-radius: 0.5em;
    grid-area: 'image';
    margin: auto;
    object-fit: cover;
    max-width: 75%;
}

.aboutText {
    grid-area: 'text';
}

@media only screen and (min-width: 700px) {
    .aboutWrapper {
        margin: auto;
        width: 78%;
    }

    .aboutInfo {
        grid-template-areas: 'image text';
        margin-left: 0.5em;
        padding: 1em;
    }

    .aboutText {
        margin: auto;
    }
}