.blogPostWrapper {
    width: 90%;
    margin: auto;
}

.blogPostCard {
    display: grid;
    grid-template-areas: 'image info';
    grid-template-columns: 1fr 1fr;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
    width: 90%;
}

.blogPostImage {
    border-radius: 0.5em;
    width: 50%;
    grid-area: 'image';
    margin: 0 auto 0 auto;
}

.blogPostInfo {
    grid-area: 'info';
    text-align: left;
}

/* Desktop screens */
@media only screen and (min-width: 768px) {
    .blogPostImage {
        margin: 0;
        width: 75%;
    }
}

/* Tablet/ Mobile screens */
@media only screen and (max-width: 700px) {
    .blogPostCard {
        grid-template-areas: 'image'
                             'info';
    }
    .blogPostImage {
        width: 50%;
    }
}

/* In-between Tablet/ Mobile screens */
@media only screen and (min-width: 600px) and (max-width: 768px){
    .blogPostImage {
        width: 80%;
    }
}