.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    z-index: 1;
}

.headerTitle a { 
    border-radius: 0.1em;
    color: #5689c7;
    margin-left: 1em;
    padding: 1rem; 
}

.headerTitle h1 {
    margin-bottom: 0;
}

.headerTitle a:hover, .headerTitle a:focus {
    background-color: #5689c7;
    color: #fff;
    transition: 0.3s;
}