.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    z-index: 1;
}

.headerTitle { 
    color: #5689c7;
}

.headerTitle h1 {
    margin-bottom: 0;
}

.headerTitle:hover, .headerTitle:focus {
    color: #fff;
    transition: 0.3s;
}