.headerContainer {
    background: #ccdbee;
    margin-bottom: 1em;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.headerTitle {
    background: #5689c7;
    border-radius: 0.1em;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto 0 0;
    padding: 1rem;
}

.headerTitle:hover, .headerTitle:focus {
    color: #ffd700;
    transition: 0.3s;
}

.navWrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 960;
}

.navLinkList {
    display: flex;
    flex: 1;
}

.navLinkListItem {
    list-style-type: none;
    margin: 0 0.25em;
}



.navLink {
    border: 1px solid transparent;
    color: #5689c7;
    padding: 1em;
}

.navLink:hover, .navLink:focus {
    background: #5689c7;
    border-radius: 0.1em;
    color: #fff;
    transition: 0.3s;
}