.mainGrid {
    display: grid;
    grid-template-areas:
      'header header'
      'nav mainContent'
      'footer footer';
    height: 100vh;
    position: relative;
}
  
.mainContent {
    grid-area: mainContent;
    grid-column: 2 / 3;
    margin-bottom: 3em;
    overflow: auto;
    text-align: center;
}

.headerSection {
    grid-area: header;
}

.footerSection {
    grid-area: footer;
}

.headerSection, .footerSection {
    grid-column: 1 / -1;
}

.navMenuSection {
    grid-area: nav;
}


@media only screen and (max-width: 700px) {
    .mainGrid {
        grid-template-areas: 
            'header' 
            'mainContent'
            'footer';
    }
}