.mainGrid {
    display: grid;
    grid-template-areas: 
        'header' 
        'mainContent'
        'footer';
    height: 100vh;
    position: relative;
}

.mainContent {
    grid-area: mainContent;
    overflow-y: scroll;
    text-align: center;
}

.headerSection {
    border-bottom: 2px solid #a9a9a9;
    grid-area: header;
}

.navMenuSection {
    display: none;
}

.footerSection {
    border-top: 2px solid #a9a9a9;
    height: 7.5em;
    grid-area: footer;
}

@media only screen and (min-width: 700px) {
    .mainGrid {
        grid-template-areas:
          'header header'
          'nav mainContent'
          'footer footer';
    }

    .mainContent {
        grid-column: 2 / 3;
    }
    
    .headerSection, .footerSection {
        grid-column: 1 / -1;
    }
    
    .navMenuSection {
        border-right: 1px solid #a9a9a9;
        display: block;
        grid-area: nav;
    }

    .footerSection {
        height: 25px;
    }
}