.portfolioWrapper {
  position: relative;
  margin-top: 4em;
}

.projectImage {
    border-radius: 0.5em;
    margin: auto;
  }
  
  .projectInfo {
    margin-left: 1em;
  }

  /* Desktop screens */
  @media only screen and (min-width: 768px) {
    .projectImage {
      width: 50%;
    }
  }

  /* Tablet/ Mobile screens */
  @media only screen and (max-width: 600px) {
    .projectImage {
      width: 80%;
    }
  }

    /* Tablet/ Mobile screens */
    @media only screen and (min-width: 600px) and (max-width: 768px){
      .projectImage {
        width: 80%;
      }
    }