.socialLinksSection {
    margin-bottom: 1em;
}

.socialLink {
    color: #fff;
    margin: 0 0.5em;
    padding: 0.5em;
}

.socialLink:visited {
    color: #fff;
}

.githubLink {
    background-color: #333333;
}

.linkedInLink {
    background-color: #2867b2;
}


.twitterLink {
    background-color: #1da1f2;
}