.socialLinksSection {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background: #172C45;
}

.socialLink {
    border-radius: 50%;
    color: #fff;
    display: flex; 
    margin: 0 0.5em;
    padding: 0.5em;
    width: 40px;
}

.socialLink:visited {
    color: #fff;
}

.socialLink i {
    width: 100%;
}

.githubLink {
    background-color: #333333;
}

.linkedInLink {
    background-color: #2867b2;
}


.twitterLink {
    background-color: #1da1f2;
}